
{% extends "base.html" %}
{% block title %}First App{% endblock %}
{% block content %}
<form action="{{url_for('index')}}" method="POST" class="mb-5 mt-5 ml-5">
        <input type="text" name="name">
        <input name="insert_name" class="btn btn-primary" type="submit" value="Submit New Name">
</form>
<form action="{{url_for('editPost')}}" method="POST" class="mt-1 ml-5 mb-5">
{%for datas in data %} 
{%if (s!=undefined and s.lower() in datas['user'].lower()) or s==undefined %}
    <p class="text-left m-2">
    <span class="mr-2">{{datas['user']}}</span><input type="text" name="{{datas['_id']}}">
    <button type="submit" name='update_name' value="{{datas['_id']}}" class="btn btn-warning" style="display:inline-block">Submit Edit</button>
    <button type="submit" name='delete_name' value="{{datas['_id']}}" class="btn btn-danger" style="display:inline-block">Delete</button></p> 
{%endif%}
{%endfor%} 
</form>
{%endblock%}