{% extends "base.html" %}
{% block title %}Home Page{% endblock %}

{%block header%}
{% if not s %}
<header class="header">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-left">
                <h1 class="font-weight-light">Get a chance to win a free prize</h1>
                <p class="lead">Join any of our giveaways for a chance on winning</p>
                <a href="#listings" class="btn btn-primary text-left">
                    View Listings
                </a>
            </div>
        </div>
    </div>
</header>
{%endif%}
{%endblock%}

{% block content %}

    <div class="row pt-3 pb-3 products">
        <div class="col-12">
            {%for product in products %}
            {%if (s!=undefined and s.lower() in product['productname'].lower()) or s==undefined %}
            <div name="listings" id="listings" class="row product-post pt-5 pb-5">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <h2>{{product['productname']}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>{{product['description']}}</p>
                            <a href="{{url_for('product' , productName=product['productname'])}}" class="btn btn-outline-primary">Get Now</a>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4 product-image">
                    <img src="{{product['photo']}}">
                </div>
            </div>
            {%endif%}
            {%endfor%} 
            
    </div>
</div>

{% endblock %}
{% block scripts %}
{{super()}}
<script>

if($('.product-post').length==0){
    console.log('asd');
    $('.products').html('<h2 id="listings" name="listings">No Products Found</h2>');
}


</script>
{% if s %}
<script>window.location.hash="listings";</script>
{% endif %}

{%endblock%}