{% extends "base.html" %}
{%block content%}
    <div class="row pt-5 pb-5">
        <div class="col-12">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    <div class="form-group">
                        {{ form.productname.label(class="form-control-label") }}

                        {% if form.productname.errors%}
                            {{ form.productname(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.productname.errors%}
                                    <span>{{ error }}</span>
                                {%endfor%}
                            </div>
                        {% else %}
                            {{ form.productname(class="form-control form-control-lg") }}
                        {%endif%}

                        
                    </div>
                    <div class="form-group">
                        {{ form.description.label(class="form-control-label") }}
                        {% if form.description.errors%}
                            {{ form.description(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors%}
                                    <span>{{ error }}</span>
                                {%endfor%}
                            </div>
                        {% else %}
                            {{ form.description(class="form-control form-control-lg") }}
                        {%endif%}
                    </div>
                    {{ form.photo }}
                    {% for error in form.photo.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                    <!-- <div class="form-group">
                        {{ form.photo.label(class="form-control-label") }}
                        {% if form.photo.errors%}
                            {{ form.photo(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.photo.errors%}
                                    <span>{{ error }}</span>
                                {%endfor%}
                            </div>
                        {% else %}
                            {{ form.photo(class="form-control form-control-lg") }}
                        {%endif%}
                    </div> -->

                    <div class="form-group">
                        {{ form.maxEntries.label(class="form-control-label") }}
                        {% if form.maxEntries.errors%}
                            {{ form.maxEntries(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.maxEntries.errors%}
                                    <span>{{ error }}</span>
                                {%endfor%}
                            </div>
                        {% else %}
                            {{ form.maxEntries(class="form-control form-control-lg") }}
                        {%endif%}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{form.submit(class="btn btn-outline-info")}}
                </div>
            </form>
        </div>
    </div>

{%endblock%}